beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
chardet==3.0.4
idna==2.9
numpy==1.18.5
pandas==1.1.5
PyMuPDF==1.17.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.46.1
urllib3==1.25.9
utils==1.0.1
joblib==0.16.0
sklearn_crfsuite==0.3.6
lxml==4.5.2
pytest==6.0.2
pytest-cov==2.10.1
pytest-mock==3.3.1
Jinja2==2.11.2
coveralls==2.1.2
